.icon-list {
  background: #fff;
  padding: 60px 20px;
}

.icon-list__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.icon-list__heading {
  margin-bottom: 45px;
}

.icon-list__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-list__item {
  display: flex;
  margin-bottom: 30px;
}

.icon-list__item:last-child {
  margin-bottom: 0;
}

.icon-list__image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  flex: 0 0 48px;
}

.icon-list__image-container:after {
  position: absolute;
  content: '';
  top: 0;
  right: -17px;
  width: 4px;
  height: 100%;
  background: url('../images/grey-dots-vertical.png') repeat-y;
  background-size: 2px auto;
  background-position: center top;
}

.icon-list__image {
  width: 100%;
  height: auto;
}

.icon-list__content-container {
  font-size: 1.3125rem;
  line-height: 1.5;
}

.icon-list__content-container strong {
  font-weight: bold;
  color: #404040;
}

@media (min-width: 1024px) {
  .icon-list {
    padding: 120px 20px;
  }
  .icon-list__list {
    columns: 2;
    column-gap: 120px;
  }

  .icon-list__item {
    margin-bottom: 65px;
  }

  .icon-list__heading {
    margin-bottom: 60px;
  }

  .icon-list__image-container {
    margin-right: 60px;
  }

  .icon-list__image-container:after {
    right: -32px;
  }
}